{% extends 'base.html' %}
{% block title %}
Authentification réussie
{% endblock %}

{% block content %}
<h1>Vous être authentifiés via Keycloak !</h1>
votre email : <strong>{{Email}}</strong>
{% if EmailVerified %}
(vérifié)
{% endif %}
<br>
votre username: <em>{{Username}}</em>

token keycloak: {{Keto}}<br/>
<hr/>
<h2>oauth2 token</h2>
acces_token: {{OAuth2token}} <br/>
refresh_token: {{OAuth2refresh}} <br/>
token_type: {{OAuth2type}} <br/>

après: <a href="/profile">next</a>

{% endblock %}