<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template test</title>
</head>
<body>
{{.Variable}}
<br/>
<a href="/start/" target="_blank">authenticatew with keycloak</a>
</body>
</html>