{% extends 'base.html' %}
{% block title %}Ajout d'adhérents{% endblock %}

{%block content%}
<h2>Recherche dans l'annuaire associatif</h2>
<form method="post" action=".">
    <label for="emails">E-mail</label>
    <input type="text" name="email" id="emails" value="">
    <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
    <button>rechercher</button>
</form>
{% if Resultats%}
oui
<br>oui
<ul>
    {% for user in Users %}
    <li>
        <strong>{{user.FirstName}} {{user.LastName}}</strong> <i>{{user.Email}}</i> ({{user.Username}})
        <form method="post" action="/keycloak/ajout/">
            <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
            <input type="hidden" name="username" value="{{user.Username}}">
            <input type="hidden" name="id" value="{{user.ID}}">
            <button>Inscrire</button>
        </form>
    </li>
    {% endfor %}
</ul>
{%endif%}
{%endblock%}